
<section class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
            <img src="../../../assets/APLogo.png" alt="Aplogo" width="160" height="90"
            class="d-inline-block aling-top"/>
            #YoProgramo
        </a>
        <ul class="navbar-nav ms-auto text-center">
            <li><a href="#"><img class="logos"src="../../../assets/icons8-linkedin-80.png"></a></li>
            <li><a href="#"><img class="logos"src="../../../assets/icons8-linkedin-80.png"></a></li>
            <li><a href="#"><img class="logos"src="../../../assets/icons8-linkedin-80.png"></a></li>
            <li><a href="#"><img class="logos"src="../../../assets/icons8-linkedin-80.png"></a></li>
         
        </ul>
        </nav>
    </div>
</section>